.complete {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-width: 300px;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--background-task-complete);
}

.notComplete {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    min-width: 300px;
    padding: 10px;
    border: solid 1px transparent;
    border-radius: 12px;
    overflow: hidden;
}

.notComplete::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 1000%;
    background: linear-gradient(to right, #00ccff, #d400d4);
    animation: animate 6s linear infinite;
}

.notComplete::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--background-task-notComplete);
    border-radius: 12px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(355deg);
    }
}

.notComplete .content {
    position: relative;
    z-index: 10;
}
